In [51]:
import pandas as pd
import numpy as np
records = [
    {'col1':1,'col2':10.0},
    {'col1':2,'col2':20.0},
    {'col1':3,'col2':30.0},
]

In [52]:
# 列の中でデータ型が統一されている場合
df = pd.DataFrame(records)
df

   col1  col2
0     1  10.0
1     2  20.0
2     3  30.0

In [53]:
df.dtypes

col1      int64
col2    float64
dtype: object

In [103]:
# 列の中でデータ型がintとfloatが混在されている場合はfloatになる
records = [
    {'col1':1,'col2':10.1},
    {'col1':2,'col2':20},
    {'col1':3.1,'col2':30},
]
df = pd.DataFrame(records)
df

   col1  col2
0   1.0  10.1
1   2.0  20.0
2   3.1  30.0

In [107]:
df['col1'].map(type)

0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
Name: col1, dtype: object

In [89]:
df.to_json('output.json')
!cat output.json

{"col1":{"0":1.0,"1":2.0,"2":3.1},"col2":{"0":10.1,"1":20.0,"2":30.0}}

In [108]:
# 列の中でデータ型がintとfloatとstrが混在されている場合はintになる
records = [
    {'col1':'A','col2':'B'},
    {'col1':2.0,'col2':20},
    {'col1':3,'col2':20.0},
]
#records.insert(0,{'col1':'str','col2':'str'})
#records
df = pd.DataFrame(records)
df

  col1 col2
0    A    B
1    2   20
2    3   20

In [109]:
df['col1'].map(type)

0      <class 'str'>
1    <class 'float'>
2      <class 'int'>
Name: col1, dtype: object

In [98]:
df.to_json('output.json')

In [99]:
!cat output.json

{"col1":{"0":"A","1":2.0,"2":3},"col2":{"0":"B","1":20,"2":20.0}}

In [18]:
df = pd.read_json('input.json')
df

      col1  col2
row1     1     1
row2     2     2
row3     3     3

In [19]:
!cat input.json

{
  "col1": {"row1":1,"row2":2.0,"row3":3},
  "col2": {"row1":1.0,"row2":2,"row3":3.0},
}

In [21]:
df.to_json('output.json')

In [22]:
!cat output.json

{"col1":{"row1":1,"row2":2,"row3":3},"col2":{"row1":1,"row2":2,"row3":3}}