In [25]:
# リストからDataFrameを作る
# int、 float、 ''空文字、 None　を含んでます

import pandas as pd
import numpy as np

items = [
    {"value":100},
    {"value":12.3},
    {"value":''},
    {"value":None}
]
df = pd.DataFrame(items, columns=['value'])
df

  value
0   100
1  12.3
2
3  None

In [26]:
#  データ型が、int、 float、 ''空文字、 None　であることを確認する
df['value'].map(type)

0         <class 'int'>
1       <class 'float'>
2         <class 'str'>
3    <class 'NoneType'>
Name: value, dtype: object

In [27]:
df.dtypes

value    object
dtype: object

In [33]:
# 欠損地を５０で埋める
df.fillna(50, inplace=True)
df

  value
0   100
1  12.3
2
3    50

In [35]:
#  3行目のデータ型が、NoneTypeからint変わったことを確認する
df['value'].map(type)

0      <class 'int'>
1    <class 'float'>
2      <class 'str'>
3      <class 'int'>
Name: value, dtype: object

In [44]:
#  DataFrameを作る
df = pd.DataFrame(items, columns=['value'])

# 欠損地を99.9で埋める
df.fillna(99.9, inplace=True)

df

  value
0   100
1  12.3
2
3  99.9

In [45]:
#  3行目のデータ型が、NoneTypeからifloatに変わったことを確認する
df['value'].map(type)

0      <class 'int'>
1    <class 'float'>
2      <class 'str'>
3    <class 'float'>
Name: value, dtype: object

In [ ]:
# fillna(値)　の値が１０なら１０、99.9なら99.9が埋められ他の値には影響していない