In [94]:
# はじめに
#
# この一連の欠損値の穴埋めをみてください

import numpy as np
import pandas as pd

# 更新用df
tbl = pd.DataFrame(
    [
    {"cd":"F001","val":None}, 
    {"cd":"E001","val":None},
    {"cd":"X001","val":None},
    {"cd":"F001","val":''}, 
    {"cd":"E001","val":''},
    {"cd":"X001","val":''},
    {"cd":"F001","val":100}, 
    {"cd":"E001","val":200},
    {"cd":"X001","val":300}
    ],columns=["cd","val"]
)
# 参照df その１
fmst = pd.DataFrame(
    [
    {"cd":"F001","val":1}, 
    {"cd":"F002","val":2},
    {"cd":"F003","val":3}
    ],columns=["cd","val"]
)
# 参照df その２
emst = pd.DataFrame(
    [
    {"cd":"E001","val":4}, 
    {"cd":"E001","val":5},
    {"cd":"E001","val":6}
    ],columns=["cd","val"]
)

     cd   val
0  F001  None
1  E001  None
2  X001  None
3  F001
4  E001
5  X001
6  F001   100
7  E001   200
8  X001   300

In [87]:
# 期待する結果の更新用df状態です
tbl = pd.DataFrame(
    [
    {"cd":"F001","val":1}, 
    {"cd":"E001","val":4},
    {"cd":"X001","val":None},
    {"cd":"F001","val":1}, 
    {"cd":"E001","val":4},
    {"cd":"X001","val":None},
    {"cd":"F001","val":100}, 
    {"cd":"E001","val":200},
    {"cd":"X001","val":300}
    ],columns=["cd","val"]
)
tbl

     cd    val
0  F001    1.0
1  E001    4.0
2  X001    NaN
3  F001    1.0
4  E001    4.0
5  X001    NaN
6  F001  100.0
7  E001  200.0
8  X001  300.0

In [88]:
# 'いけね、'(空文字)は欠損値ではないのか？この対処はこちらでやります。
tbl = pd.DataFrame(
    [
    {"cd":"F001","val":None}, 
    {"cd":"E001","val":None},
    {"cd":"X001","val":None},
    {"cd":"F001","val":''}, 
    {"cd":"E001","val":''},
    {"cd":"X001","val":''},
    {"cd":"F001","val":100}, 
    {"cd":"E001","val":200},
    {"cd":"X001","val":300}
    ],columns=["cd","val"]
)
tbl = tbl.replace({'': None})
tbl

     cd    val
0  F001    NaN
1  E001    NaN
2  X001    NaN
3  F001    NaN
4  E001    NaN
5  X001    NaN
6  F001  100.0
7  E001  200.0
8  X001  300.0

In [89]:
# ルール１　tblのvalの欠損値の時に穴埋め処理をする。具体的なルールは以下の３つ（ルール２からルール４）。
# ルール２　tblのcdの値がFで始まる文字列の場合（例：F001）の場合は、fmstのval値で（例：F001なので1）欠損値の穴埋めをする
# ルール３　tblのcdの値がEで始まる文字列の場合（例：E001）の場合は、emstのval値で（例：E001なので4）欠損値の穴埋めをする
# ルール４　tblのcdの値の始まりがFでもEでもない場合（例：X001）は欠損値のままにしておく。

In [95]:
# 実験１：tblのcdがFで始まる文字列
tbl = pd.DataFrame(
    [
    {"cd":"F001","val":None}, 
    {"cd":"E001","val":None},
    {"cd":"X001","val":None},
    {"cd":"F001","val":''}, 
    {"cd":"E001","val":''},
    {"cd":"X001","val":''},
    {"cd":"F001","val":100}, 
    {"cd":"E001","val":200},
    {"cd":"X001","val":300}
    ],columns=["cd","val"]
)
tbl[tbl['cd'].str.startswith("F")]
# 結果はOKなようです

     cd   val
0  F001  None
3  F001
6  F001   100

In [111]:
# 実験２：tblのvalが欠損値
tbl = pd.DataFrame(
    [
    {"cd":"F001","val":None}, 
    {"cd":"E001","val":None},
    {"cd":"X001","val":None},
    {"cd":"F001","val":''}, 
    {"cd":"E001","val":''},
    {"cd":"X001","val":''},
    {"cd":"F001","val":100}, 
    {"cd":"E001","val":200},
    {"cd":"X001","val":300}
    ],columns=["cd","val"]
)
tbl['val'].isnull()
#　結果はOKなようです

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: val, dtype: bool

In [118]:
# 実験３
# tblでcdがFで始まる文字列のValにスカラー値を代入する
# 参考情報　https://note.nkmk.me/python-pandas-where-mask/
tbl = pd.DataFrame(
    [
    {"cd":"F001","val":None}, 
    {"cd":"E001","val":None},
    {"cd":"X001","val":None},
    {"cd":"F001","val":''}, 
    {"cd":"E001","val":''},
    {"cd":"X001","val":''},
    {"cd":"F001","val":100}, 
    {"cd":"E001","val":200},
    {"cd":"X001","val":300}
    ],columns=["cd","val"]
)
tbl.loc[tbl['cd'].str.startswith("F"),'val' ] = -100
tbl

     cd   val
0  F001  -100
1  E001  None
2  X001  None
3  F001  -100
4  E001
5  X001
6  F001  -100
7  E001   200
8  X001   300

In [ ]:
# 実験４
# blでcdがFで始まる文字列で、valがNanにスカラー値を代入する
tbl = pd.DataFrame(
    [
    {"cd":"F001","val":None}, 
    {"cd":"E001","val":None},
    {"cd":"X001","val":None},
    {"cd":"F001","val":''}, 
    {"cd":"E001","val":''},
    {"cd":"X001","val":''},
    {"cd":"F001","val":100}, 
    {"cd":"E001","val":200},
    {"cd":"X001","val":300}
    ],columns=["cd","val"]
)
#tbl.loc[ tbl['cd'].str.startswith("F") & True ,'val' ] = -100
#
# このTrueにtbl.isnull()
#
tbl.loc[ tbl['cd'].str.startswith("F") & tbl['val'].isnull() ,'val' ] = -100
tbl
#
# ここまではできました。
#  cdの文字列の初めの文字は判断できます
#  valが欠損値なのも判断できます
# その条件に剃ってスカラー値を代入することもできます

     cd   val
0  F001   -10
1  E001  None
2  X001  None
3  F001
4  E001
5  X001
6  F001   100
7  E001   200
8  X001   300

In [120]:
# 実験５　参照用dfから値を取得する
#

# 参照df その１
fmst = pd.DataFrame(
    [
    {"cd":"F001","val":1}, 
    {"cd":"F002","val":2},
    {"cd":"F003","val":3}
    ],columns=["cd","val"]
)
key = "F002"
fmst['cd'] == key 

# tblの埋めに使う値はcdをキーに参照用dfから持ってくる必要があります。

0    False
1     True
2    False
Name: cd, dtype: bool