In [17]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [18]:
#  DataFrameにも階層的なindexを作れます。#  DataF 
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15