In [10]:
# リストからDataFrameを作る
# int、 float、 ''空文字、 None　を含んでます

import pandas as pd
import numpy as np

items = [
    {"weight":100,"length":44},
    {"weight":12.3,"length":0.357},
    {"weight":'',"length":''},
    {"weight":None,"length":None}
]
df = pd.DataFrame(items, columns=['weight','length'])
df

  weight length
0    100     44
1   12.3  0.357
2
3   None   None

In [11]:
#  データ型が、int、 float、 ''空文字、 None　であることを確認する
df['weight'].map(type)

0         <class 'int'>
1       <class 'float'>
2         <class 'str'>
3    <class 'NoneType'>
Name: weight, dtype: object

In [12]:
df.dtypes

weight    object
length    object
dtype: object

In [13]:
# 欠損地を５０で埋める
df.fillna(50, inplace=True)
df

  weight length
0    100     44
1   12.3  0.357
2
3     50     50

In [14]:
#  3行目のデータ型が、NoneTypeからint変わったことを確認する
df['weight'].map(type)

0      <class 'int'>
1    <class 'float'>
2      <class 'str'>
3      <class 'int'>
Name: weight, dtype: object

In [15]:
#  DataFrameを作る
df = pd.DataFrame(items, columns=['weight'])

# 欠損地を99.9で埋める
df.fillna(99.9, inplace=True)

df

  weight
0    100
1   12.3
2
3   99.9

In [16]:
#  3行目のデータ型が、NoneTypeからifloatに変わったことを確認する
df['weight'].map(type)

0      <class 'int'>
1    <class 'float'>
2      <class 'str'>
3    <class 'float'>
Name: weight, dtype: object

In [8]:
# fillna(値)　の値が１０なら１０、99.9なら99.9が埋められ他の値には影響していない
#
# Python 3.6.4 :: Anaconda, Inc.
#