In [10]:
# リストからDataFrameを作る
# i空文字なし

import pandas as pd
import numpy as np

items = [
    {"value":100},
    {"value":12},
    {"value":None}
]
df = pd.DataFrame(items, columns=['value'])
df

   value
0  100.0
1   12.0
2    NaN

In [11]:
#  データ型が、floatになる
df['value'].map(type)

0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
Name: value, dtype: object

In [12]:
df.dtypes

value    float64
dtype: object

In [13]:
# 欠損地を５０で埋める
df.fillna(50, inplace=True)
df

   value
0  100.0
1   12.0
2   50.0

In [15]:
#  データ型が、floatになる
df['value'].map(type)

0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
Name: value, dtype: object

In [16]:
#  DataFrameを作る
df = pd.DataFrame(items, columns=['value'])

# 欠損地を99.9で埋める
df.fillna(99.9, inplace=True)

df

   value
0  100.0
1   12.0
2   99.9

In [17]:
#  3行目のデータ型が、NoneTypeからifloatに変わったことを確認する
df['value'].map(type)

0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
Name: value, dtype: object

In [ ]:
# fillna(値)　の値が１０なら１０、99.9なら99.9が埋められ他の値には影響していない