In [2]:
import pandas as pd
import numpy as np

In [14]:
items = [
    {"a":100},
    {"a":12.3},
    {"a":''},
    {"a":None}
]
df = pd.DataFrame(items, columns=['a'])
df

      a
0   100
1  12.3
2
3  None

In [15]:
# 列の中にデータ型が違う値がある
df['a'].map(type)

0         <class 'int'>
1       <class 'float'>
2         <class 'str'>
3    <class 'NoneType'>
Name: a, dtype: object

In [16]:
df.fillna(50)

      a
0   100
1  12.3
2
3    50

In [17]:
df.fillna(99.9)

      a
0   100
1  12.3
2
3  99.9

In [20]:
items = [
    {"a":12.3},
    {"a":12.3},
    {"a":12.3},
    {"a":None}
]
df = pd.DataFrame(items, columns=['a'])
df

      a
0  12.3
1  12.3
2  12.3
3   NaN

In [21]:
df.fillna(100)

       a
0   12.3
1   12.3
2   12.3
3  100.0

In [22]:
items = [
    {"a":100},
    {"a":100},
    {"a":100},
    {"a":None}
]
df = pd.DataFrame(items, columns=['a'])
df

       a
0  100.0
1  100.0
2  100.0
3    NaN

In [ ]:
df.fillna(10)